# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright 2026 joguSD
module = MNT
module-str = mnt
source "subsys/logging/Kconfig.template.log_config"

config MNT_REFORM_MODE
    int "MNT Reform mode (0=standalone, 1=classic, 2=next)"
    default 0
    range 0 2

config ZMK_BEHAVIOR_MENU
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_MENU_ENABLED

if ZMK_BEHAVIOR_MENU

config ZMK_BEHAVIOR_MENU_TODO
    bool
    help
      Placeholder for menu configuration, delete if not needed

endif #ZMK_BEHAVIOR_MENU

config IQS9150
    bool "IQS9150 trackpad driver"
    default y
    depends on DT_HAS_AZOTEQ_IQS9150_ENABLED
    select I2C