# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright 2026 joguSD
config MNT_REFORM_MODE
    int "MNT Reform mode (0=standalone, 1=classic, 2=next)"
    default 0
    range 0 2

config AZ1UBALL
    bool "AZ1UBALL 1U trackball module driver"
    default y
    depends on DT_HAS_PALETTE_AZ1UBALL_ENABLED
    select I2C

config ZMK_INPUT_PROCESSOR_QUADRATIC_SCALER
    bool "Quadratic input processor scaler"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_QUADRATIC_SCALER_ENABLED

config ZMK_INPUT_PROCESSOR_RGB_CONTROL
    bool "RGB control input processor"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_RGB_CONTROL_ENABLED
    depends on ZMK_RGB_UNDERGLOW

config ZMK_BEHAVIOR_MENU
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_MENU_ENABLED

if ZMK_BEHAVIOR_MENU

config ZMK_BEHAVIOR_MENU_TODO
    bool
    help
      Placeholder for menu configuration, delete if not needed

endif #ZMK_BEHAVIOR_MENU

config ZMK_INPUT_PROCESSOR_INC_DEC
    bool "Inc/Dec input processor"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_INC_DEC_ENABLED

config ZMK_INPUT_PROCESSOR_RATE_ACCEL
    bool "Rate-based acceleration input processor"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_RATE_ACCEL_ENABLED