# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright 2025 joguSD

CONFIG_USB_DEVICE_VID=0x1209
CONFIG_USB_DEVICE_PID=0x6d02
CONFIG_USB_DEVICE_MANUFACTURER="MNT Research"

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=125000000

# Enable clock control by default
CONFIG_CLOCK_CONTROL=y

# Enable reset by default
CONFIG_RESET=y

# Configure flash paritioning and allow writing to save settings
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_SETTINGS=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Output UF2 by default, native bootloader supports it.
CONFIG_BUILD_OUTPUT_UF2=y

# Enable USB
CONFIG_ZMK_USB=y
CONFIG_USB_HID_POLL_INTERVAL_MS=5

CONFIG_ZMK_WPM=y

# Enable Display
CONFIG_ZMK_DISPLAY=n
CONFIG_ZMK_DISPLAY_BLANK_ON_IDLE=y
#CONFIG_ZMK_DISPLAY_WORK_QUEUE_DEDICATED=y
#CONFIG_ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE=4096
CONFIG_ZMK_DISPLAY_STATUS_SCREEN_CUSTOM=n
CONFIG_ZMK_DISPLAY_STATUS_SCREEN_BUILT_IN=y
CONFIG_ZMK_WIDGET_WPM_STATUS=y
CONFIG_ZMK_WIDGET_LAYER_STATUS=n
CONFIG_ZMK_WIDGET_OUTPUT_STATUS=n


# Enable RGB
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=n
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
CONFIG_ZMK_RGB_UNDERGLOW_BRT_MAX=30
CONFIG_ZMK_RGB_UNDERGLOW_ON_START=n
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=3
CONFIG_ZMK_RGB_UNDERGLOW_HUE_START=78
CONFIG_ZMK_RGB_UNDERGLOW_SAT_START=50
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=15


# Turn on logging, and set ZMK logging to debug output
# CONFIG_LOG=y
# CONFIG_SERIAL=y
# CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE=y
# CONFIG_UART_LINE_CTRL=y
# CONFIG_UART_INTERRUPT_DRIVEN=y
#
# CONFIG_ZMK_USB_LOGGING=n
# CONFIG_ZMK_LOGGING_MINIMAL=y
# CONFIG_ZMK_LOG_LEVEL_DBG=n
# CONFIG_LOG_BUFFER_SIZE=20000
# CONFIG_I2C_LOG_LEVEL_DBG=y
# CONFIG_SPI_LOG_LEVEL_DBG=n
# CONFIG_DISPLAY_LOG_LEVEL_DBG=y
# CONFIG_SENSOR_LOG_LEVEL_DBG=y
