/*
  SPDX-License-Identifier: GPL-3.0-or-later
  Copyright 2026 joguSD
*/

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    /omit-if-no-ref/ zip_x_rgb_hue: zip_x_rgb_hue {
        compatible = "zmk,input-processor-inc-dec";
        #input-processor-cells = <0>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_X>;
        bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
    };

    /omit-if-no-ref/ zip_y_rgb_sat: zip_y_rgb_sat {
        compatible = "zmk,input-processor-inc-dec";
        #input-processor-cells = <0>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_Y>;
        bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;
    };
};
